body{
    background-color:#E9EBEE;
}
#my-nav{
    color: white;
    background-color: #4060B7;
}

#my-nav a{
    color: white !important;
}

section{
    padding:0 !important;
}

.red, .pink, .orange{
    height: 500px;
}

.red{
    background-color: lightgrey;
}

.pink{
    background-color: lightgrey;
    margin-right: 10px;
    margin-left: 10px;
}

.orange{
    background-color: lightgrey;
}

.footer{
    height: 42px;
    background-color: black;
    margin-top: 10px;
}

.searchbar{
    min-width: 400px;
}

#darkerColor span{
    color: #0D1325;
    font-size: 20px;
}

.list-heading{
padding: 20px 15px 0 15px;
}

.post-section, .ads{
    height: 950px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: scroll;
}

.post-section::-webkit-scrollbar {
    display: none;
}

.ads::-webkit-scrollbar{
    display: none;
}
.panel{
    margin-bottom: 8px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}

.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}

.comments-toolkit{
    margin-top: 5px;
}
.comments-toolkit span{
     margin-left:5px ;
}

.comment-box{
    width:100%;
    border-radius: 10px;
    height: 32px;
    color: grey;
    border: 0;
}

.comment-box:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.ficons{
    margin-left: 5px;
    margin-right: 5px;
}

#header{
    margin-top: 80px;
}


@media (min-width: 768px) and (max-width: 991px) {
    #header{
        margin-top: 150px;!important;
    }

    .searchbar{
        min-width: 10px;!important;
    }
}

.videopost{
    margin-top: 10px;
}


@media (max-width: 767px) {
    .searchbar{
        min-width: 1%;!important;
    }
}

.stories{
    border-color: #4080ff ;
    border-style: solid ;
    border-width: 2px;
    margin-top: -14px;
}

#stories_heading{
    margin-bottom: 20px;
}

.unwrap b{
    font-style: normal;
    font-weight: bolder;
    color: #4080ff;
    padding-left: 6px;
}
.fa-gift{
    font-size: 20px !important;
    color: #FF69B4;
}

.notification{
    position: absolute;
    right:10px;
    top:4px;
    background:red;
    text-align: center;
    color:white !important;
    padding: 0 4px 0 4px;
    font-size: 10px !important;
    z-index: 2;
}