body{
    background-color:#E9EBEE;
}
#my-nav{
    color: white;
    background-color: #4060B7;
}

#my-nav a{
    color: white !important;
}

section{
    padding:0 !important;
}

.red, .pink, .orange{
    height: 500px;
}

.red{
    background-color: lightgrey;
}

.pink{
    background-color: lightgrey;
    margin-right: 10px;
    margin-left: 10px;
}

.orange{
    background-color: lightgrey;
}

.footer{
    height: 42px;
    background-color: black;
    margin-top: 10px;
}

.searchbar{
    min-width: 400px;
}

#darkerColor span{
    color: #0D1325;
    font-size: 20px;
}